<%= form_with(model: message, url: chat_messages_path(@chat), id: "form") do |form| %>
  <%= form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
    <%= form.text_area :content, class: "form-control", size: "4x8" %>
    <div class="form-actions">
        <%= form.button :submit %>
    </div>
  <% end %>
