<div id="<%=message.id %>" class="p2">
  <div class="message-content">
    <strong><%= message.role&.upcase || 'USER' %>: <%=message.subject%></strong>
    <%= message.displayed_content %>
  </div>
</div>
