<div class="email-content col-md-6">
  <%= @message.content %>
</div>
<div class='row'>
  <%= link_to "Edit this message", edit_message_path(@message) %> |
  <%= button_to "Destroy this message", @message, method: :delete %>
</div>
