<% if user_signed_in? %>
  <li class="nav-item <%= class_to_add %>">
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link me-auto" %>
  </li>
<% else %>
  <li class="nav-item <%= class_to_add %>">
    <%= link_to('Login', new_user_session_path, class: "nav-link" ) %>
  </li>
<% end %>
