<% if user_signed_in? %>
  <li class="nav-item  <%= class_to_add %>">
    <%= link_to  "Profile", root_path, class: "nav-link" %>
  </li>
<% else %>
  <li class="nav-item <%= class_to_add %>">
    <%= link_to('Register', new_user_registration_path, class: "nav-link" ) %>
  </li>
<% end %>
