<div id="<%= dom_id prompt %>">
  <p>
    <strong>Subject:</strong>
    <%= prompt.subject %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= prompt.body %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= prompt.active %>
  </p>

</div>
