<div id="<%= dom_id application %>">
  <p>
    <strong>Job:</strong>
    <%= link_to application.job.title, application.job %> 
  </p>
  <p>
     <strong>Company:</strong>
     <%= link_to application.job.company.name, application.job.company %>
  </p>

</div>
