
<% unless @jobs.blank? %>
<h1>New Application</h2>
<%= render "form", application: @application %>
<% else %>
<h1>New Job</h1>
  <%= render partial: "jobs/form", locals: { job: Job.new } %>

<% end %>

<br>

<div>
  <%= link_to "Back to applications", applications_path %>
</div>
