<p style="color: green"><%= notice %></p>

<h1>Jobs <small><%= @jobs.count %> total jobs</h1>

<div id="jobs">
  <% @jobs.each do |job| %>
  <p class='lead'>
    <strong><%= link_to job.title, job %> </strong> - <small><%= link_to job.company.name, job.company %></small>
  </p>
  <% end %>
</div>