
<h1>Jobs <%= @jobs.count %> total jobs</h1>
<div class="col-md-12 bg-light">
   <%= paginate @jobs %>
</div>

<%= turbo_stream_from :job_list %>
<div id="jobs">
  <%= render partial: "jobs/job", collection: @jobs %>
</div>

