<div id="<%= dom_id chat %>">
  <p>
    <strong><%= chat.id %><%= link_to "#{chat.title.blank? ? "<>" : chat.title}", chat %>:</strong>
  </p>

  <div class='row'>
    <%= display_message_for(chat) if chat.persisted? %>
  </div>
</div>
