<div id="<%= dom_id chat %>">
  <p>
    <strong>Title:</strong>
    <%= link_to "#{chat.title.blank? ? 'ASK AI' : chat.title}", chat %>
  </p>

  <div class='company_info'>
  <%= chat.company_info %>
  </div>
  <div class='interview_tips'>
  <%= chat.interview_tips %>
  </div>

</div>
