<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= link_to company.name, company %>
    <br>
    <strong>Website:</strong>
    <%= company.website %>

    <strong>Industry:</strong>
    <%= company.industry %>
  </p>

</div>
