<p style="color: green"><%= notice %></p>

<h1>Companies</h1>

<div id="companies">
  <% @companies.each do |company| %>
    <p class='clearfix'>
      <%= link_to company.name, company %> <span class='float-end'><%= company.jobs.count %></span>
    </p>
  <% end %>
</div>

<%= link_to "New company", new_company_path %>
