<%= form_with model: [conversation, post], id: "form" do |f| %>
  <div class="form-inputs">
    <%= f.label :body %>
    <%= f.rich_text_area :body %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
